* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



/* navbar ends here */


.text-logo {
    font-size: 24px;
    color: #f9faf8;
    flex: 1;
    padding-top: 12px;
}

.header-styling {
    background-color: #1F2937;
    padding-left: 200px;
    padding-right: 200px;
    width: auto;
    height: 500px;
}
.links {
    list-style-type: none;
    justify-content: space-between;
    margin: 20px;

}

a:hover, a:visited, a:link, a:active {
    color: rgb(255, 255, 255);
    text-decoration: none;
}


.flex-contener {
    display: flex;
    
}



/* navbar ends here */


/*amazing text starts here */

.important-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;
    margin-top: 100px;
}

.lessimportant-text {
    font-size: 18px;
    color: #e5e7eb;
    padding-top: 7px;
    padding-bottom: 10px;
}

.flex-two-boxes {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.signup-button {
    width: 140px;
    height: 40px;
    border-radius: 15px;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 20px;
    font-weight: bold;
    border: none;
    
}

.box {
    width: 400px;
    height: 330px;
    background-color: rgb(193, 187, 187);
    color: #f9faf8;
    float: right;
}

/* end of header */


.set-of-skills {
    text-align: center;
    font-weight: bold;
    padding: 50px;
    margin-bottom: 50px;
}

.flex-row {
    display: flex;
}
.litte-box-flex {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: red;
    
    
}
.litte-box {
    width: auto;
    height: 200px;
    border-radius: 20px;
    list-style-type: none;
}

.text-under-skills {
    text-align: center;
    color: black;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;

}

/* Quote seciotion */

.section-quote {
    background-color: #E5e7eb;
    display: flex;
    width: auto;
    height: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 350px;
    padding-left: 350px;
}

.inspiring-quote {
    font-size: 36px;
    font-family: italic;
    color: #1f2937;
}


.author {
    color: black;
    font-weight: bold;
    margin-left: auto;
    font-size: 40px;
    margin-top: 20px;

}

.fotter {
    background-color: #1F2937;
    height: 300px;
    width: auto;
}

.random-info {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    padding-top: 50px;
}



