
.listed{
    text-align: center;
    background-color: black;
    color: white;
    padding: 0px;
    margin: -50px;


    
}

* {
    font-family: sans-serif, 'Courier New', Courier, monospace;
}


.tagizdjecia {
    background-image: url(../img/sky.jpg);

}
